.wrapper {
    font-family: 'Gilam';
    width: 1460px;
    margin: 0 auto; 
    color: #FFFFFF;
    /* background-color: #171717; */
}

.header {
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: space-between;
}

.parallax-header {
    background: url("../img/header-bg.jpeg") center/cover no-repeat;
    background-attachment: fixed;
}

.header-logo {
    height: 33px;
    width: 216px;
}

.circe {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.yellow {
    color: #D6AF76;
}

.header-btn {
    margin-left: 39px;
    display: inline-block;
    border: 1px solid #E4B564;
    padding: 10px 25px 10px 20px;
}

.header-btn a {
    text-decoration: none;
    color: #E4B564;
}

.phone {
    text-align: left;
    width: 10px;
    height: 10px;
}

.parallax {
    background: url("../img/parallax-bg.jpeg") center/cover no-repeat;
    background-attachment: fixed;
}

.h1-article1 {
    font-weight: bold;
    font-size: 50px;
    padding: 128px 0 41px 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.article1 {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    width: 1182px;
}

.grid-section1 {
    display: grid;
    gap: 24px 27px;
    grid-template-columns: 467px 248px 189px 467px;
    grid-template-rows: repeat(2, 468px);
    grid-template-areas: 
    "a b b c"
    "d d e e";
    margin-top: 41px;
    font-weight: 700;
    font-size: 20px;
}

.grid-section1 > li {
    padding: 206px 43px;
    text-align: center;
}

.grid-section1 > .box1 {
    grid-area: a;
    background-color: #634F2C;
}

.grid-section1 > .box2 {
    grid-area: b;
    background-color: #B4A385;
}

.grid-section1 > .box3 {
    grid-area: c;
    background-color: #E4B564;
}

.grid-section1 > .box4 {
    grid-area: d;
    background-color: #635A4A;
}

.grid-section1 > .box5 {
    grid-area: e;
    background-color: #B08C4D;
}

.h1 {
    font-weight: bold;
    font-size: 50px;
    padding: 161px 0 94px 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.grid-section2 {
    display: grid;
    gap: 29px 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 255px 26px 159px 148px 247px 1px;
    grid-template-areas: 
    "a b c"
    "a b f"
    "d b f"
    "d e f"
    "d e g"
    "d . g";
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 211px;
}

.grid-section2 > .box1, 
.grid-section2 > .box2 {
    font-weight: 400;
}

.grid-section2 > .box1{
    grid-area: a;
    padding: 44px 113px 219px 52px;
    background-color: #0E0E0E;
}

.grid-section2 > .box2{
    grid-area: b;
    padding: 44px 114px 345px 51px;
    background-color: #242424;
}

.grid-section2 > .box3 {
    grid-area: c;
    padding: 44px 117px 186px 48px;
    background-color: #1F1F1F;
}

.grid-section2 > .box4 {
    grid-area: d;
    padding: 56px 113px 479px 52px;
    background-color: #1F1F1F;
}

.grid-section2 > .box5 {
    grid-area: e;
    padding: 44px 113px 333px 52px;
    color: #000;
    background-color: #E4B564;
}

.grid-section2 > .box6 {
    grid-area: f;
    padding: 44px 117px 224px 48px;
    background-color: #0E0E0E;
}

.grid-section2 > .box7 {
    grid-area: g;
    padding: 44px 117px 208px 48px;
    background-color: #0A0909;
    font-weight: 700;
}

.black {
    background-color: #0E0E0E;
}

.wrapper-black {
    font-family: 'Gilam';
    width: 1460px;
    margin: 0 auto; 
    color: #FFFFFF;
    display: block;
    padding-top: 172px;
    background-color: #0E0E0E;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.h-section-black {
    display: block;
    font-weight: bold;
    font-size: 50px;
}

.section-black-btn {
    font-family: 'Circe';
    font-size: 18px;
    padding: 10px 39px 10px 39px;
    border: 1px solid #E4B564;
    text-decoration: none;
    color: #E4B564;
}

.grid-section3 {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
    font-weight: 600;
    font-size: 22px;
    margin-top: 72px;
    text-align: center;
}

.grid-section3 > .box1, 
.grid-section3 > .box6 {
    padding: 171px 151px;
}

.grid-section3 > .box1, 
.grid-section3 > .box6{
    background-color: #634F2C;
}

.grid-section3 > .box2 {
    padding: 61px 80px 61px 80px;
    background-color: rgba(232, 210, 171, 0.76);
}    

.small-text{
    font-weight: 400;
    font-size: 22px;
}

.grid-section3 > .box3,
.grid-section3 > .box4 {
    padding: 174px 148px 175px 149px;
}

.grid-section3 > .box3{
    background-color: #E4B564;
}

.grid-section3 > .box4{
    background-color: #635A4A;
}

.grid-section3 > .box5 {
    padding: 169px 183px 169px 184px;
    background-color: #B08C4D;
}

.footer {
    padding-top: 239px;
    background-color: #171717;
}